@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&display=swap');

:root {
  
  --red: rgb(24, 24, 23);
  --gray: #707070;
  --blue: #2c5158;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input, textarea {
  font: 400 16px "Roboto", sans-serif;
}

li {
  list-style-type: none;
  
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
/* sobre.html */
/* Header */
.main-header {
  background-position: 50% 39%;
  background: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  width: 100%;
}

.header-list-container {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-item {
  text-transform: uppercase;
  color: var(--white);
  transition: 0.2s;
  padding: 0.5em;
  background-color: black;
  border-radius: 16%;
}

.nav-item:hover {
  color: black;
  transition: .9s;
  color: #1756ED;
  box-shadow: 0 0 25px #1756ED;
}

hr {
  width: 100%;
}

.titulu title {
  color: #1756ED;
  /* text-align: center; */
  font-size: 54px;
  
}


/* Main */
.main-section {
  padding: 40px 0 64px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg,rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px
}

.section-titulo {
  color: var(--white);
  font-family: "Rock Salt", cursive;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;

}



/*  Footer  */
.main-footer {
  background: var(--gray);
  padding: 16px 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-medium {
  font-size: 26px;
}

.title {
  font-family: "Rock Salt", cursive;
  color: var(--white);
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

.list-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #1756ED;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;}

  .list-container:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #1756ED;
  }
  
  .list-container:hover {
    color: #1756ED;
    box-shadow: 0 0 5px #1756ED;
    text-shadow: 0 0 5px #1756ED;
  }


/* Main */
.normal-section + .normal-section {
  margin-top: 80px;
}

.products-container {
  display: flex;
  flex-wrap: wrap; /* Flex wrap coloca 2 livros por linha, pq a seção tem 600px */
  justify-content: space-between;
  gap: 40px;
  background-color: #a8a8a3;
  border-radius: 15px;
  border: solid 3.5px black ;
  box-shadow:  4px 5px 5px black; ;
}


.book-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px black;
  padding: 0.3em;
  margin-top: 12px;
  margin-bottom: 12px;
}


#left{
  border-left: none;
}
#right{
  border-right: none;
}

.product-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.product-imagem {
  width: 189px; 
  height: 124px;
  box-shadow: 4px 5px 5px black;
  margin-bottom: 12px;
}

.produto-preco-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-preco {
  margin-right: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #fff;
  border: solid 0.8px black;
  font-size: 12px;
  background-color: #2c5158;
  box-shadow: 1px 1px 3px black;
}

span{
  padding: 0;
  font-size: 1.5em;
}

.button-hover-background {
  background: var(--red);
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 6px;
  padding: 4px 2px;
  font-weight: bold;
  transition: 0.2s;
}

.button-hover-background:hover {
  background: var(--white);
  color: var(--red);
  transition: 0.8s;
}

/* tabela carrinho de compras */
.table-carrin {
  width: 100%;
  border-collapse: collapse;
  border: solid 5px black;
  box-shadow: 2px 2px 3px 3px #333;

}

.cabess-do-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
  text-shadow: #333 1px 1px 1px;
}

.second-col,
.third-col {
  width: 26%;
}

.podruto-carrin td {
  padding: 8px 0;
  margin: 12px 12px ;
}

.identificacion-produto {
  display: flex;
  align-items: center;

}

.imagem-prod-carrin {
  width: 120px;
  height: 70px;
  box-shadow: #333 3px 3px 3px;
}

.titulo-prod-carrin {
  margin-left: 16px;
  font-size: 18px;
  text-shadow: #333 1px 1px 1px;
}

.preco-prod-carrin {
  font-family: "Raleway", sans-serif;
  text-decoration: overline;
}

.prod-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #eee;
}

.prod-qtd-input:hover{
  color: black;
  transition: .9s;
  color: #1756ED;
  box-shadow: 0 0 12px #1756ED;
}

.button-remover-prod {
  margin-right: 3px;
  background: rgb(24, 24, 23);
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;
  box-shadow: black 3px 3px 3px;
  transition: filter 0.2s;
}

.button-remover-prod:hover {
  background-color: #fff;
  transition: 0.9s;
  color: black;
}

.container-sald-devedor {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.container-sald-devedor strong {
  margin-right: 12px;
}

.botao-comprar {
  display: flex;
  margin: 24px auto 0;
  background: #333;
  color: white;
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  box-shadow: black 1.5px 1.2px 1.3px;
}

.botao-comprar:hover {
  transition: .8s;
  background: rgb(158, 235, 4);
  box-shadow: olive 3px 3px 3px ;
}



/* Responsividade */
@media (max-width: 584px) {
  .movie-title-large {
    font-size: 36px;
  }

  .schedule-item {
    flex-wrap: wrap;
    text-align: center;
  }

  .schedule-item + .schedule-item {
    margin-top: 12px;
  }

  .botao-comprar {
    width: 60%;
    margin-top: 12px;
    padding: 12px 2px;
  }


  .products-container {
    justify-content: center;
  }

  .identificacion-produto {
    flex-direction: column;
    align-items: flex-start;
  }

  .titulo-prod-carrin {
    margin-top: 6px;
  }

  .prod-qtd-input {
    display: block;
    margin: 0 auto;
  }

  .button-remover-prod {
    display: block;
    margin: 8px auto 0;
  }
}

@media (max-width: 470px) {
  .about-movie-image {
    width: 160px;
  }

  .main-footer-container {
    flex-direction: column;
  }

  .movie-title-medium {
    margin-bottom: 16px;
  }
}